*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
:root{
	--main-background: #f6f6f6;
	--main-color: #2196f3;
	--sub-color: #ececec;
	--main-transition: 0.3s;
}
html {
  scroll-behavior: smooth;
}
body {
   position: relative;
   background-image: url("../images/back.jpg");
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   font-family: 'Taviraj', serif;
   
   overflow-X: hidden;
}
body::before {
   position: absolute;
   content: "";
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.75);
   z-index: -1;
}
/* Start Header */
header {
   position: absolute;
   top: 0;
   height: 90px;
   width: 100%;
   z-index: 9;
   padding: 15px 25px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   transition: var(--main-transition);
} 
header.sticky {
   position: fixed;
   height: 60px;
   background: rgba(0, 0, 0, 0.75);
   z-index: 1000;
} 
header .logo {
   font-size: 20px;
   color: #FFF;
}
header .logo span {
   color: #777;
   font-size: 15px;
}
header img {
   cursor: pointer;
}
header .mega-menu {
   position: relative;
   background-color: #000;
   height: 100vh;
   width: 280px;
   position: absolute;
   right: -100%;
   top: 0;
   display: flex;
   flex-direction: column;
   padding: 20px;
   transition: 1.5s;
}
header .mega-menu.open {
   right: 0;
}
header .mega-menu .close {
   text-align: right;
}
header .mega-menu ul li {
   color: #FFF;
   padding: 8px 0;
   cursor: pointer;
}
header .mega-menu ul li:not(:last-child) {
   border-bottom: 1px solid #777;
}
header .mega-menu a {
   color: inherit;
   font-size: 16px;
   transition: var(--main-transition);
}
header .mega-menu ul li:hover {
   color: var(--main-color);
}
/* End Header */
/* Start Landing */
.landing {
   position: relative;
   height: 100vh;
   background-image: url("../images/banner.jpg");
   background-size: cover;
   display: flex;
   align-items: center;
   justify-content: center;
}
.landing::before {
   content: "";
   position: absolute;
   background:  rgba(0, 0, 0, 0.75);
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   opacity: 1;
   transition: opacity 3s ease;
	transition-delay: 1.30s;
}
body.is-loading .landing:before {
   opacity: 0.5;
}
.landing .content {
   width: 80%;
   margin: 10% auto;
   text-align: center;
   z-index: 1000;
   animation: scale 3s linear;
   transition-delay: 4s;
}
.landing .content h1{
   font-size: 4rem;
   font-weight: 300;
   color: #FFF;
   margin: 0;
}
.landing .content p {
   width: 60%;
   font-size: 25px;
   color: #DDD;
   margin: 4% auto;
   line-height: 1.65;
}
.landing .content p span {
   color: #FFF;
}
.landing .content a {
   background-color: var(--main-color);
   color: #FFF;
   padding: 8px 20px;
   border-radius: 6px;
   opacity: 0.9; 
   transition: var(--main-transition);
}
.landing .content a:hover {
   opacity: 1;
}
/* End Landing */
/* Start Section Tow*/
.tow {
   background-color: var(--main-background);
   padding: 90px 0;
   
}
.tow section {
   background-color: #FFF;
   width: 85%;
   margin: 0 auto; 
}
.tow img {
   max-width: 100%
}
.tow .text {
   padding: 20px;
}
.tow .text h3 {
   font-weight: 300;
   font-size: 28px;
   margin: 0;
   text-align: center;
}
.tow .text h6 {
   font-size: 22px;
   font-weight: 500;
   color: #acacac;
   text-align: center;
   margin: 15px 0;
}
.tow .text p {
   color: #acacac;
   line-height: 1.6;
   margin: 30px 0;
}
/* End Section Tow */
/* Start Section Three */
.three {
   padding: 70px 0; 
}
.three .container {
   display: grid;
   /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));  */
   grid-template-columns: auto auto auto;
   gap: 30px;
}
.three .box {
   text-align: center;
}
.three .box:nth-of-type(2) {
   border-right: 1px solid #777;
   border-left: 1px solid #777;
}
.three .box h3 {
   color: #FFF;
   margin: 0; 
}
.three .box p {
   width: 80%; 
   color: #777;
   margin: 30px auto;
}
.three .box a {
   color: #FFF;
   padding: 10px 20px;
   border: 1px solid #FFF;
   border-radius: 6px;
   transition: var(--main-transition);
}
.three .box a:hover {
   background: rgba(225 225 225 / 15%);
}
/* End Section Three */
/* Start Section Four */
.four {
   background-color: var(--main-background);
   padding: 80px 0;
   display: flex;
   justify-content: space-around;
}
.four > div {
   width: 45%;
   float: left;
   background-color: #FFF;
   
}
.four .box img {
   max-width: 100%;
}
.four .box .info {
   padding: 25px 40px;
}
.four .box .info h3 {
   text-align: center;
   font-size: 32px;
   margin: 30px 0 0;
}
.four .box .info p {
   color: #777;
}
/* End Section Four */
/* Start Section Five */
.five {
   padding: 70px 0; 
}
.five h2 {
   text-align: center;
   color: #fff; 
   font-weight: 300;
}
.five p {
   width: 80%;
   text-align: center;
   font-size: 20px;
   color: #777;
   margin: 0 auto;
}
/* End Section Five */
/* Start Contact */
.contact {
   background-color: var(--main-background);
   padding: 50px 0;
}
.contact form {
   width: 75%;
   background-color: #FFF;
   display: flex;
   flex-direction: column;
   align-items: stretch;
   padding: 45px;
   margin: 0 auto;
}
.contact form h2 {
   text-align: center;
   margin: 35px 0;
   color: #777;
   font-size: 26px;
   font-weight: 300;
}
.contact form label {
   width: 100%;
   color: #777;
   margin: 0 auto;
}
.contact form .boxs {
   display: flex;
   justify-content: space-between;
}
.contact form .info {
   display: flex;
   flex-direction: column;
   width: 48%;
   float: left;
   padding: 20px 0;
}
.contact .info input {
   background-color: var(--main-background);
   outline-color: var(--main-color);
   border: 1px solid #ddd;
   border-radius: 4px;
   padding: 10px;
}
.contact form select {
   background-color: var(--main-background);
   width: 100%;
   color: #777;
   margin: 2% auto;
   padding: 10px;
   border: 1px solid #ddd;
   border-radius: 4px;
   outline-color: var(--main-color);
}
.contact form select option {
   color: #777;
}
.contact form textarea {
   background-color: var(--main-background);
   width: 100%;
   min-height: 40vh;
   border: 1px solid #ddd;
   border-radius: 4px;
   outline-color: var(--main-color);
   padding: 18px;
   margin: 2% auto; 
}
.contact form a {
   background-color: var(--main-color);
   color: #FFF;
   width: fit-content;
   margin: 1% auto;
   padding: 10px 25px;
   border-radius: 6px;
   opacity: .8;
   transition: var(--main-transition);
}
.contact form a:hover {
   opacity: 1;
}
/* End Contact */
/* Start Footer */
footer {
   background-color: var(--main-background);
   text-align: center;
   color: #777;
   padding: 25px;
}
footer i {
   color: red;
}
/* End Footer */
@keyframes scale {
   0%,
   25%{
      scale: 1.0;
      opacity: 0.5
   }
   50%,
   75% {
      scale: 1.1;
      opacity: 0.7
   }
   80%,
   100%{
      scale: 1.0;
      opacity: 1;
   }
}
hr {
   width: 100%;
   border: 0;
   border-bottom: solid 1px rgba(144, 144, 144, 0.25);
   margin: 2rem 0;
}
/*
   Thanks For Inspiration: https://templated.co
*/
